<form>
    <div class="container">
        <h2>Employee</h2>
        <form >
            <div class="form-group">
                <label for="nume">Nume:</label>
                <input type="text" class="form-control" id="nume" placeholder="Enter nume" name="nume">
            </div>
            <div class="form-group">
                <label for="pnume">Prenume:</label>
                <input type="text" class="form-control" id="pnume" placeholder="Introduceti prenumele" name="pnume">
            </div>
            <div class="form-group">
                <label for="cnp">CNP:</label>
                <input type="text" class="form-control" id="cnp" placeholder="Enter CNP" name="cnp">
            </div>

            <input type="submit" name="btnInsert" class="btn btn-default" ng-click="insertData()" value="Add"/>
        </form>
    </div>
</form>