<div>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th> <span class="glyphicon glyphicon-user"></span> Id</th>
        <th>Avatar</th>
        <th>Nume</th>
        <th>Prenume</th>
        <th>CNP</th>
        <th>Comenzi</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="employee in employees">
        <td>{{employee.id}}</td>
        <td>AVATAR</td>
        <td>{{employee.nume}}</td>
        <td>{{employee.prenume}}</td>
        <td>{{employee.CNP}}</td>
        <td>
            <input type="button" name="Add" value="Update" class="btn btn-success"/>
            <input type="button" name="Delete" value="Delete" class="btn btn-danger"/>
        </td>
    </tr>
    </tbody>
</table>
</div>
